.slider {
  width: 73%;
  height: 350px;
  margin: auto;
  margin-top: 1px;
}
.slider img {
  width: 100%;
  height: 350px;
}

@media all and (min-width: 250px) and (max-width: 780px) {
.slider{
  width: 100%;
}
 }
 @media all and (min-width: 1250px) and (max-width: 1500px){
   .div{
     gap: 100px;
   }
 }